<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Manage Admin</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
body {
	color: #566787;
	background: #f6f9ff;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
	background-image: url(images/background1.jpeg);
}

.pagination {
	float: right;
	margin: 0 0 5px;
}
.pagination li a {
	border: none;
	font-size: 13px;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
}
.pagination li a:hover {
	color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
	background: #03A9F4;
}
.pagination li.active a:hover {        
	background: #0397d6;
}
.pagination li.disabled i {
	color: #ccc;
}
.pagination li i {
	font-size: 16px;
	padding-top: 6px
}
.hint-text {
	float: left;
	margin-top: 10px;
	font-size: 13px;
}    

/* Modal styles */
 .modal-dialog {
	max-width: 1200px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}	
</style>

</head>

<body>
<!-- Edit Modal HTML -->
<div >
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="/vets/update/<%= vet._id%>" method="post">
				<div class="modal-header">						
					<h4 class="modal-title">Edit Veterinarian Details</h4>
			
				</div>
				<div class="modal-body">					
		
                    <div class="form-group">
						<label>Full Name</label>
						<input type="text" value="<%= vet.fullname%>" name="fullname" class="form-control" required>
					</div>
                    <div class="form-group">
						<label>Email</label>
						<input type="email" value="<%= vet.email%>" name="email" class="form-control" required>
					</div>
                    <div class="form-group">
						<label>Position</label>
						<input type="text" value="<%= vet.position%>"  name="position" class="form-control" required>
					</div>
		
					<div class="form-group">
						<label>Phone Number</label>
						<input type="text" value="<%= vet.phonenumber%>" name="phonenumber" class="form-control" required>
					</div>		

                    <div class="form-group">
						<label>Availability (Yes/No)</label>
						<input type="text" value="<%= vet.availability%>" name="availability" class="form-control" required>
					</div>					
                  
                  
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-info" value="Save">
					<a href="/vets" class="btn btn-warning" ></i> <span>Back</span></a>
				</div>
			</form>
		</div>
	</div>
</div>


</body>
</html>