<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />


  <title>Pawsitive Vet User Account</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />


  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>
    body {
    margin-top: 200px;
}

.button {
      background-color: green;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 19px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 6px;
    }
    
</style>
</head>
<body>
  
  
    <div class="container">
        <div class="row">
            <div>
                <div class="text-center">
                    <h2>Appointment Bill</h2>
                    
                    <br>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            <strong>Pawsitive Veterinary</strong>
                            <br>
                            <br>
                            Branch Seksyen 7, Shah Alam,4000
                            <br>
                            <br>
                        Contact Number: (60) 1234567890
                        </address>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <br>
                        <p>
                            <em>Booking Number : #<%= appointment._id %></em>
                        </p>
                        <p>
                            <em>Date of Appointment: <%= appointment.date %></em>
                        </p>
                        
                    </div>
                </div>
                <div class="row">
                    
                    </span>
                    <table class="table table-hover">
                        &nbsp;
                        <thead>
                            <tr>
                                <th>Detail</th>
                        
                                <th class="text-center">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-9"><em>Pet Owner Name</em></h4></td>
                         
                                <td class="col-md-1 text-center"><%= appointment.username %></td>
                             
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>Pet Name</em></h4></td>
                        
                                <td class="col-md-1 text-center"><%= appointment.petname %></td>
             
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>Pet Type</em></h4></td>
                                
                                <td class="col-md-1 text-center"><%= appointment.type %></td>
                       
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>Appointment Time</em></h4></td>
                             
                                <td class="col-md-1 text-center"><%= appointment.time %></td>
                              
                            </tr>
                            <tr>
                                <td class="col-md-9"><em> Appointment Category</em></h4></td>
                       
                                <td class="col-md-1 text-center"><%= appointment.categoryAppointment %></td>
                        
                            </tr>
                       
                      
                        </tbody>
                    </table>
                    <form action="/userApp" method="get">
                       <center> <button type="submit" class="button"> Back</button</center> 
                    </form>
                </div>
            </div>
        </div>




</body>

</html>